html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: black;
	color: #eeeeec;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 1.5rem;
	color: #ffffff;
}

h2 {
	font-weight: lighter;
	font-size: 1.2rem;
	color: #8c8c8b;
	margin-bottom: 0;
}

p:first-child {
	font-weight: bold;
}

img {
	width: 15vh;
	height: 15vh;
}


div#header{
	margin-bottom: 60px;
}

ul.powercontrols{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.powercontrols li{
	display: inline-block;
	width: 30%;
	min-width: 200px;
	background-color: rgba(255,255,255,0.1);
	margin: 5px;
	padding: 15px;
	text-align: left;
	cursor: pointer;
	border-radius: 5px;
}

ul.powercontrols li>div{
	display: inline-block;
}

ul.powercontrols li div.name{
	font-weight: 300;
}
ul.powercontrols li div.receptacle{
	text-transform: uppercase;
	font-size: 9px;
	opacity: 0.6;
	font-weight: bold;
}
ul.powercontrols li div.receptacle::before { 
    content: "Outlet ";
}

ul.powercontrols li div.switch{
	float: right;
	margin-top: 5px;
}